.form-wrapper {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 20px;
    display: table;
    text-align: center;
    border: 3px solid #487879;
    border-radius: 10px;
    background-color: white;
}

.form-wrapper form {
    display: inline-block;
    margin-bottom: 0px;
    width: 100%;
}

.form-wrapper img {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper h5 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: arial, serif;
    font-size: 16px;
}

.form-wrapper button {
    margin-top: 20px;
    width: 80%;
}

.form-wrapper_item {
    margin-bottom: 10px;
    height: 30px;
}

.form-wrapper_item p {
    margin-top: 0;
    margin-bottom: 0;
    height: 15px;
    font-size: 14px;
    text-align: left;
    margin-left: 10%;
    color: tomato;
}

.form-wrapper_item input {
    float: left;
    margin-left: 10%;
    width: 80%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    height: 15px;
}
