.locale {
    height: 50px;
    margin-right: 10px;
    float:right;
}

.locale select {
    height: 40px;
    width: 40px;
    border: 0px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-family: arial, serif;
}