.wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    min-width: 800px;
    background-color: gainsboro;
    border-radius: 10px;
}

.menu {
    float: left;
    margin-top: 40px;
    margin-left: 3%;
    width: 12%;
    min-width: 90px;
    height: 300px;
}

.menu_item {
    height: 36px;
}

.menu_item_a {
    width: 80%;
    margin-left: 24%;
    padding-top: 13px
}

.menu_item_a a {
    text-decoration: none;
    font-family: arial, serif;
    color: #487879;
}

.menu_item img {
    width: 20px;
    float: left;
    padding-top: 10px;
}

.pet_profile {
    height: 500px;
    width: 84%;
    float: right;
    margin-top: 40px;
    border: 3px solid #487879;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(72,120,121,1) 0%, rgba(255,255,255,1) 74%);
}
.pet_profile form{

}
.admin_profile {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
    width: 30%;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.edit_avatar {
    float: left;
    height: 500px;
    width: 50%;
}

.edit_avatar img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin-left: 27%;
    margin-top: 50px;
    border-radius: 10px;
    border: 3px solid #487879;
    background: white;
}

.edit_avatar form{
    padding-left: 123px;
}

.edit_profile_credential {
    width: 50%;
    height: 500px;
    float: right;
}

.edit_profile_credential_item {
    margin-top: 50px;
}
.edit_profile_credential_item input {
    width: 150px;
}
.edit_profile_credential_item input::placeholder {
    color: black;
    text-align: left;
}
.edit_profile_credential_item select {
    width: 150px;
}
.edit_profile_credential_item button {
    width: 100px;
}

.pagLeft {
    float: right;
    margin-left: 50px;
    width: 150px;
}

.pagRight {
    float: left;
    width: 150px;
    margin-left: 50px;
}

.footer {
    text-align: center;
    margin-bottom: 0;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
}
